# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* List popular languages for Data Science.
* List popular tools & libraries for Data Science.
* Create a table.
* Evaluating arithmetic expression in python.
* Convert minutes to hours.

# Some of the popular languages that Data Scientists use are:

### 1. R.
### 2. Python.
### 3. SQL.
### 4. Julia.
### 5. Scala

# Some of the commonly used libraries used by Data Scientists include:
#### 1. Numpy.
#### 2. Pandas.
#### 3. Matplotlib.
#### 4. Sklearn.
#### 5. Tensorflow.
#### 6. Pytorch.

| "Data Science tools" |
| :- |
| "Apache Spark" |
| "Tensorflow" |
| "Anaconda" |
| "MongoDB" |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. (2+6)
2. (8-6)
3. (5*7)
4. (9/3)
5. (7%4)
6. (9//5)

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author
Vedansh Gupta